
       <form class="example-form">
          <input type="text"
                 placeholder="Pick one"
                 aria-label="Number"
                 matInput
                 [formControl]="myControl"
                 [matAutocomplete]="auto">

          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>

      </form>




      <!-- badge -->

      <h3 style="color: blue ;">badge</h3>
      <div matBadge="40" matBadgeOverlap="false" class="demo-section">Text with a badge</div>

      <div matBadge="1" matBadgeSize="large" class="demo-section">Text with large badge</div>

    <div class="demo-section">
      Button with a badge on the left
      <button mat-raised-button color="primary"
          matBadge="8" matBadgePosition="before" matBadgeColor="accent">
        Action
      </button>
    </div>

    <div class="demo-section">
        Button toggles badge visibility
        <button mat-raised-button matBadge="7" [matBadgeHidden]="hidden" (click)="toggleBadgeVisibility()">
            Hide
        </button>
      </div>

    <div class="demo-section">
      Icon with a badge
      <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon>
        <!-- Include text description of the icon's meaning for screen-readers -->
        <span class="cdk-visually-hidden">
          Example with a home icon with overlaid badge showing the number 15
        </span>
    </div>

    




    <!-- bottom sheet -->
    <h3 style="color: blue;">bottom sheet</h3>

    <p>You have received a file called "cat-picture.jpeg".</p>

<button mat-raised-button (click)="openBottomSheet()">Open file</button>

