<h2 style="color:red"> Typogarphy</h2>
<app-typography></app-typography>


<br><br>

<h2 style="color:red"> Autocomplete</h2>
<app-autocomplete></app-autocomplete>


<br><br>
<h2 style="color:red"> Expansion panel</h2>
<app-expansion-panel></app-expansion-panel>


<br><br>
<h2 style="color:red"> stepper form</h2>
<app-stepper></app-stepper>


<br><br>
<h2 style="color:red">tabs</h2>
<app-tabs></app-tabs>


<br><br>
<h2 style="color:red">toolbar</h2>
<app-toolbar></app-toolbar>



<!-- <app-navigation></app-navigation> -->

<app-form></app-form>
